<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testng test suite" parallel="classes" thread-count="4">

    <test name="Basic Tests" verbose="1">
        <classes>
            <class name="genak.PongSequenceTest"/>
            <class name="genak.PongChannelTest"/>
            <class name="genak.PongListTest"/>
            <class name="genak.PongTimeTest"/>
            <class name="genak.PongTime2Test"/>
            <class name="genak.PongTickTest"/>
        </classes>
    </test>

</suite>

